body{
    background-color: #809fb7;
}
.container{
    margin-top: 5rem;
}
.container h1{
    text-align: center;
}
.btn{
    border:0;
    outline: none;
    padding: 0;
    font-size: 1.7rem;
}
.btn--edit{
    color: green;
}
.btn--delete{
    color: red;
}
.bilgi{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    color: black;
    opacity: 0;
    transition: .5s ease;
}
.bilgi--error{
    background-color: rgb(230, 112, 112);
    opacity: 1;
}
.bilgi--success{
    background-color: rgb(135, 233, 135);
    opacity: 1;
}
.far{
    pointer-events: none;
}