a{
    text-decoration: none;

}

h1{
    
    letter-spacing: .2px;
    word-spacing: 3px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1em;
    color: white;
}

ul{
    li{
        list-style: none;
    }
}