.mr1{
    margin-right: 10px;
}
.ml1{
    margin-left: 10px;
}
.mb1{
    margin-bottom: 10px;
}
.mt1{
    margin-top: 10px;
}
.mr2{
    margin-right: 20px;
}
.ml2{
    margin-left: 20px;
}
.mb2{
    margin-bottom: 20px;
}
.mt2{
    margin-top: 20px;
}
.mr3{
    margin-right: 30px;
}
.pr1{
    padding-right: 10px;
}
.pr2{
    padding-right: 20px;
}
.pr3{
    padding-right: 30px;
}
