
@{
    ViewBag.Title = "YeniHobiler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>Hobiler</label>
            <input type="text" class="form-control" name="INTEREST" />
        </div>
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>

