
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hesap Makinesi</h2>
<br />

<form class="form-group" method="post">
    <div>
        Sayı 1: <input style="margin-left:4px" type="text" name="sayi1" id="sayi1" /><br />
        Sayı 2: <input style="margin-top: 12px" type="text" name="sayi2" id="sayi2" /><br />
        <div style="margin-top: 18px">
            <button  class="btn btn-warning">Hesapla</button>
            Sonuç: @ViewBag.snc
        </div>
    </div>
</form>

