//FONTS
$fontheebo : 'Heebo', sans-serif;
$fontdosis : 'Dosis', sans-serif;
$fontsilig : 'Hind Siliguri', sans-serif;

//COLORS
$gray1 : #4F545C;   //rgb(79,84,92)
$gray2 : #36393F;  //rgb(54,57,63)
$gray3 : #2F3136;  //rgb(47,49,54)
$gray4 : #202225;  //rgb(32,34,37)
$gray5 : #1c1d1f;
$black : #000;  //rgb(0,0,0)
$white : #fefefe;  //rgb(255,255,255)




